@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #020e46;
}

.logo{
    color: #ffffff;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 35px;
}

.logo > span{
    color: #F49F1C;
}

header{
    height: 10vh;
    display: flex;
    justify-content: space-between ;
    background-color: #0f0f0f;
    box-shadow: 0 0 1rem black;
}

header > ul{
     display: flex;
     margin: 23px;
     font-size: 18px;
     list-style: none;
}

header > ul > li > a{
      color: #F49F1C;
      list-style-type: none;
      cursor: pointer;
      padding-left: 2rem;
      text-decoration: none;
}

h1{
    text-align: center;
    color: white;
}
.card{
    background-color: #3a556e;
    border-radius: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-left: 15%;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 10px 40px #00000073;
}

.textfield{
    width: 80%;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #546c88;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000073;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.textfield > dar{
    color: #fff;
}

input [type="date"]{

    color: #020e46;
}

.formulario {
    color: #fff;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin: 10px;

}

.btn{
    width: 20%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase ;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3a556e;
    background: #F49F1C;
    cursor: pointer;
    box-shadow: 0px 10px 40 px -12px #9e6d25;
}

footer{
    background-color: #000c17;
    height: auto;
    /*width: 100vw;tirar*/
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(31, 31, 31);
}

.footer-bottom{
    background: black;
    /*width: 100vw; tirar*/
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #F49F1C;
}

.footer-bottom   span{
       opacity: .4;
    font-weight: 200;
}