@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;

}

.main-login{
    height: 100vh;
    background: #020e46;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1 {
    color: #F49F1C;
    font-size: 35px;
}

.img{
  margin: 20px;     
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: left;
}

.form{
    width: 100%;
}

.card-login{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3a556e;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000073;
    margin-right: 100px;
}
.card-login > h1 {
    color: #F49F1C;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #546c88;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000073;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase ;
    font-weight: 800;
    letter-spacing: 3px;
    color: #3a556e;
    background: #F49F1C;
    cursor: pointer;
    box-shadow: 0px 10px 40 px -12px #9e6d25;
}


.ou{
    justify-content: center;
    color: #f0ffffde;
    letter-spacing: 2px;
    width: 100%;
    display: flex;
    margin: 5px 0px;
}

.conta > a {
    text-decoration: underline;
    justify-content: center;
    color: #f0ffffde;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    box-shadow: 0px 10px 40 px -12px #c9c9c9de;
    padding: 8px;
    color: #F49F1C;
    text-decoration: none;
}

h2{
    display: flex;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 5px;
    padding: 20px;
    background-color: #546c88;
}

h2{
    text-decoration: none;
    list-style: none;
    text-align: start;
}

h2{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: start;
}

footer{
    background-color: #000c17;
    height: auto;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(31, 31, 31);
}

.footer-bottom{
    background: black;
    
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #F49F1C;
}

.footer-bottom   span{
       opacity: .4;
    font-weight: 200;
}
